@media (max-width: 1024px) { 
    li{
        width: 600px;
    }
}

@media (max-width: 768px) {
    li{
        width: 400px;
    }
    h1{
        font-size: 4em;
    }
    footer a{
        font-size: 2em;
    }
 }

@media (max-width: 640px) { 
    li{
        width: 400px;
    }
    h1{
        font-size: 3em;
    }
    footer a{
        font-size: 1.5em;
    }
}
@media (max-width: 603px) {
    li{
        width: 400px;
    }
    h1{
        font-size: 3em;
    }
    footer a{
        font-size: 1.5em;
    }
 }
@media (max-width: 600px) { 
    li{
        width: 400px;
    }
    h1{
        font-size: 2em;
    }
    footer a{
        font-size: 1em;
    }
}
@media (max-width: 568px) {
    li{
        font-size: 2.5em;
    }
 }
@media (max-width: 480px) {
    li{
        width: 300px;
        font-size: 2.5em;
    }
    h1{
        font-size: 2em;
    }
    footer a{
        font-size: 1em;
    }
 }
@media (max-width: 460px) {
    li{
        width: 300px;
        font-size: 2em;
    }
    header img{
        width: 60px;
    }
    h1{
        font-size: 2em;
    }
    footer a{
        font-size: 1em;
    }
 }
@media (max-width: 360px) {
    header{
        font-size: 1em;
    }
        header img{
        width: 60px;
    }
    li{
        width: 250px;
        font-size: 2em;
    }
    h1{
        font-size: 2em;
    }
    footer{
        font-size: 1em;
    }
    footer a{
        font-size: 2em;
    }
 }
@media (max-width: 320px) {
    header{
        font-size: 1em;
    }
    header img{
        width: 60px;
    }
    li{
        width: 200px;
        height: 80px;
        font-size: 1.5em;
    }
    h1{
        font-size: 2em;
    }
    footer{
        font-size: 1em;
    }
    footer a{
        font-size: 2em;
    }
 }
